{% extends "layout.html" %}
{% block content  %}

    <!-- Bootstrap Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">About Race World!</h1>
        <p class="lead">We have created this website to be everything road (and trail!) races to all runners.</p>
      </div>
    </div>
        <a href="https://www.strava.com/athletes/clautenschleger" rel="nofollow" target="_blank">The creator's Strava profile!</a>


{% endblock content %}