{% extends "layout.html" %}
{% block content  %}

<h1>Add Registered Race</h1>    

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Select Your Race!</legend>
                                <!-- Race Dropdown -->
            <div class="form-group">
                {{ form.runners_race.label(class="form-control-label") }}
                {% if form.runners_race.errors %}
                    {{ form.runners_race(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.runners_race.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.runners_race(class="form-control form-control-lg") }}
                {% endif %}
            </div>
   
        </fieldset>
        <!-- Submit -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}